.navbar {
  background: #1e293b;
  color: #f1f5f9 !important;
  border-radius: 12px;
}
.navbar-brand {
  color: #f1f5f9 !important;
}
.nav-link {
  color: #f1f5f9 !important;
}
.btn {
  border-color: #f1f5f9 !important;
  color: #f1f5f9 !important;
}
.navbar-toggler {
  background: #f1f5f9 !important;
}
