.navbar {
  background: #333333;
  color: #fffaf0;
}
.navbar-brand {
  color: #fffaf0 !important;
  font-size: 1.5rem !important;
}
.navbar li a {
  font-size: 1.2rem;
  color: #fffaf0 !important;
}
.navbar-collapse {
  flex-grow: 0 !important;
}
