* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.home {
  background: #fde68a;
  color: #1e293b;
  overflow: hidden;
}
p {
  font-size: 1.25rem;
}
.about {
  padding: 55px 50px;

  background: #1e293b;
  color: #fff;
}
.contact {
  overflow: hidden;
  background: #fde68a;
  color: #1e293b !important;
}
input {
  background: transparent;
}
.projects {
  overflow: hidden;
}
